extends layout

block content
  .page-header
    h3 Create Schedule
    h2 mimsey creates this schedule

    br
    #mydata
      b Current employee data!
      table#myTableData(border='1', cellpadding='2')
        tr
          th
            b Name
          th
            b Type
          th
            b Min Hours
          th
            b Max Hours
          th
            b Email
          th
            b Phone Number
          th
            b Update
          th
            b Delete

        each person in people

          // build a new table row
          tr

            // insert table data
            td #{person.name}
            td #{person.type}
            td #{person.min_hours}
            td #{person.max_hours}
            td #{person.email}
            td #{person.phone_number}

            // add the update and delete buttons
            td
              input(type="button" value = "Update" onClick="Javacsript:deleteRow(this)")
            td
              input(type="button" value = "Delete" onClick="Javacsript:deleteRow(this)")

            // move to next person in the people array ...
      br
      br

      br
      #mydata
        b Current data in the system ...
        table#myTableData(border='1', cellpadding='2')
          tr
            th
              b Employee type
            th
              b Days worked
            th
              b Number of employees
            th
              b Shift start
            th
              b Shift end
            th
              b Update
            th
              b Delete


          each shf in shift

            // build a new table row
            tr

              // insert table data
              td #{shf.employee_type}
              td #{shf.days_worked}
              td #{shf.num_employees}
              td #{shf.shift_start_time}
              td #{shf.shift_end_time}

              // add the update and delete buttons
              td
                input(type="button" value = "Update" onClick="Javacsript:deleteRow(this)")
              td
                input(type="button" value = "Delete" onClick="Javacsript:deleteRow(this)")

              // move to next person in the people array ...
        br
        br
