//********begin manual extend layout paste*****************
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Hackathon Starter
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', href='/css/main.css')

  body
  include partials/header

  .container
    include partials/flash
    block content

  include partials/footer

  script(src='/js/lib/jquery-2.2.4.min.js')
  script(src='/js/lib/bootstrap.min.js')
  script(src='/js/main.js')

  // Google Analytics: change UA-XXXXX-X to be your site's ID
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
  //*****************end manual extend layout paste*****************//

block content

  if !user
    doctype html
    html
      head
        link(rel='stylesheet', type='text/css', href='css/launch_main.css')
        link(rel='stylesheet', type='text/css', href='css/launch_devices.css')
        title
          | QuickShifts
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1')
      body
        link(rel='stylesheet', type='text/css', href='css/launch_main.css')
        link(rel='stylesheet', type='text/css', href='css/launch_devices.css')
        header.header
          .container-lrg
            .col-12.spread
              div
                .logo
                  | QuickShifts
              //div
                a.nav-link(href='#')
                  | Twitter
                a.nav-link(href='#')
                  | Facebook
          .container-sml
            .col-12.text-center
              .heading
                | Create employee schedules, quickly
              .paragraph
                | The easiest way to schedule and communicate with hourly workers. Save time by letting us generate a range of schedules for you based on your shift needs and your employees' availability.
              .ctas
                a.ctas-button(href='/signup')
                  | Sign Up
          .container-lrg
            .centerdevices.col-12

        .feature4
          .container-lrg.flex
            .col-5.centervertical
              h3.subheading.center
                | Fair and efficient scheduling
              p.paragraph
                | You input shift requirements (e.g. 2 cooks needed from 9am-5pm) and target hours for each employee. Employees indicate availability for upcoming shifts. We send you all schedules meeting both your shift requirements and your employees' availability. Magic.
            .col-1
            .col-6
              .sidedevices
                .browserwrapper
                  .browser
                    .mask
                      img.mask-img(style='max-width:100%;', height='auto;', src='http://erikrood.com/calendar_feature.png')

        .feature2
          #two-feature.container-lrg.flex
            .col-6
              br
              h3.subheading.center Free 30-day trial
              p.paragraph
                | We want you to be completely happy with our product,
                |which is why we encourage you to try it out before you commit to a paid plan.
              br
              br
              br
              br
            .col-6
              br
              h3.subheading.center Simple scheduling
              p.paragraph
                | Our software learns from your past decisons to help suggest future schedules, saving you more time the longer you're with us.
                | Avoid conflicts, knowing that we've calculated all possible schedules meeting both your preferences and your employee's availability.
        br
        #home.promo
          .promo__wrap.fence
            h3.promo__text See which plan is right for your team:
            div
              a.button.button--outline(href='/prices') View Pricing & Plans
        .footer
          .container-sml.text-center
            .col-12
              .heading
                | Get started now, for free.
              .ctas
                a.ctas-button(href='/signup')
                  | Sign Up
        //  .container-sml.footer-nav
            .col-12.text-center
              div
                a.nav-link
                  | Twitter
                a.nav-link
                  | Facebook
                a.nav-link
                  | Contact
                a.nav-link
                  | TOS
                a.nav-link
                  | Privacy
              br


  else if user.user_type == 'schedule_type'
    //******
    //header information that was copied and pasted
    //******
    doctype html
    html
      head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='theme-color' content='#4DA5F4')
        meta(name='csrf-token', content=_csrf)
        title #{title} - Hackathon Starter
        link(rel='shortcut icon', href='/favicon.png')
        link(rel='stylesheet', href='/css/main.css')
        link(rel='stylesheet', type='text/css', href='css/launch_main.css')
        link(rel='stylesheet', type='text/css', href='css/launch_devices.css')
      body
        include partials/header
        script(src='/js/lib/jquery-2.2.4.min.js')
        script(src='/js/lib/bootstrap.min.js')
        script(src='/js/main.js')
        link(rel='stylesheet', href='/css/main.css')
        link(rel='stylesheet', type='text/css', href='css/launch_main.css')
        link(rel='stylesheet', type='text/css', href='css/launch_devices.css')
        .container
          include partials/flash
          block content

        include partials/footer
        script(src='/js/lib/jquery-2.2.4.min.js')
        script(src='/js/lib/bootstrap.min.js')
        script(src='/js/main.js')


        // Google Analytics: change UA-XXXXX-X to be your site's ID
        script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-XXXXX-X', 'auto');
          ga('send', 'pageview');






        // ********
        // ********
        // ********
        //adding my own script to load in table
        // ********
        // ********
        // ********
        script(type='text/javascript').

          var CSRF_HEADER = 'x-csrf-token';
          var setCSRFToken = function (securityToken) {
            jQuery.ajaxPrefilter(function (options, _, xhr) {
              if (!xhr.crossDomain) {
                xhr.setRequestHeader(CSRF_HEADER, securityToken);
              }
            });
          };


          function change_table() {
            //gettting json values

            var docs_json = document.getElementById("docs_json").value;
            var docs_json_value = JSON.parse( docs_json );

            //clearing table
            var table = document.getElementById("myTableData1")
            var ddl_value = document.getElementById("ddl").value;

            //delete existing table
            while(table.rows.length > 0) {
              table.deleteRow(0);
            }



            var listItems = [];
            console.log(docs_json_value)

            //
            //
            //getting all the date information for the calendar
            for (var i = 0; i < docs_json_value.length; i++){
              itemTest= docs_json_value[i].shift_date_range_start + " to " + docs_json_value[i].shift_date_range_end;
              if (itemTest == ddl_value){
                listItems[i] = docs_json_value[i].date + "," + docs_json_value[i].day_of_week
              };
            };

            //
            //getting only the unique date informaiton for the calendar
             var seen = {};
             var out_cal_dates = [];
             var j = 0;
             for(var i = 0; i < listItems.length; i++) {
                 var item = listItems[i];
                 if(seen[item] !== 1) {
                       seen[item] = 1;
                       out_cal_dates[j++] = item;
                 }
            }


            //sorting the date list
            out_cal_dates.sort()

            //
            //employee type list creation

            //clearing list
            var listItems = [];

            //now it's time to pull unique employee types
            for (var i = 0; i < docs_json_value.length; i++){
              itemTest= docs_json_value[i].shift_date_range_start + " to " + docs_json_value[i].shift_date_range_end;
              if (itemTest == ddl_value){
                listItems[i] = docs_json_value[i].employee_type
              };
            };

            //getting only the unique employee type for the calendar
             var seen = {};
             var out_emp_types = [];
             var j = 0;
             for(var i = 0; i < listItems.length; i++) {
                 var item = listItems[i];
                 if(seen[item] !== 1) {
                       seen[item] = 1;
                       out_emp_types[j++] = item;
                 }
            }
            out_emp_types.sort()
            //console.log(out_emp_types)
            //console.log(out_cal_dates)


            //
            //adding the date shit to an html string to put into the table
            var trHTML;
            trHTML += '<tr><td>' + 'Employee Type'

            for (var i = 0; i < out_cal_dates.length; i++){
              var  title = out_cal_dates[i].split(",")
              trHTML += '<td>' + title[1] + '<br>' + '<br>' + title[0]

            };


            $('#myTableData1').append(trHTML);


            trHTML = ''
            //buidling employee types and shifts for employee schedule

            var table = document.getElementById("myTableData1");
            for(var j = 0; j< out_emp_types.length; j++){
              var emp_type = out_emp_types[j]
              trHTML += '<tr><td>'+ emp_type + '<br><br><br>'

              //getting the calendar dates in order so i can add them to the schedule in order :)
              for (var i = 0; i < out_cal_dates.length; i++){
                var  title = out_cal_dates[i].split(",")

                //i need to reset list items and the varaible m so i can re-add to shifts for a given date to 1 list
                listItems = []
                var m = 0

                //iterating through the json
                for (var k = 0; k < docs_json_value.length; k++){

                  //if the date in in the json thing matches the calendar date in the calendar then i enter here
                  if (docs_json_value[k].date == title[0] && docs_json_value[k].employee_type == emp_type){
                    //if it equaly i add it to the list here
                    var value = docs_json_value[k].shift_time_start + ' to ' + docs_json_value[k].shift_time_end
                    //ensuring i don't add a duplicate value
                    if (listItems.indexOf(value)==-1) {
                      listItems[m] = value
                      m += 1
                    }


                  };
                };

                if(listItems.length == 0){
                  trHTML += '<td>'
                }

                if(listItems.length > 0){
                  trHTML += '<td>'
                  for (var n = 0; n < listItems.length; n++){
                    trHTML += '<div style="width:100px;height:60px;border:5px solid #a1a8e0;background-colo #a1a8e0;background-color: #a1a8e0;border-radius: 7px;" class="type1">'+ listItems[n] + '</div><br>'

                  }

                }

              };

            }

            $('#myTableData1').append(trHTML);




          };



          // ********
          // ********
          // ********
          //adding my own script to load in table
          // ********
          // ********
          // ********


      head
        h1 Current schedule
        br
        br
        input(type='hidden', id="docs_json", value= JSON.stringify(docs))
        br


        button.col-sm-3.btn.btn-primary(type='submit', value='Add', onClick="") View by employee type
        br
        br

        button.col-sm-3.btn.btn-primary(type='submit', value='Add', onClick="") View by employee name
        br
        br
        br
        select#ddl(onchange="change_table()")
          option(value='')
          script.
            //
            //
            // defining dropdown
            //
            //
           var docs_json = document.getElementById("docs_json").value;
           var docs_json_value = JSON.parse(docs_json);
           var listItems = [];

           //putting items into initial ist
           for (var i = 0; i < docs_json_value.length; i++){
             itemTest = docs_json_value[i].shift_date_range_start + " to " + docs_json_value[i].shift_date_range_end;
             listItems[i] = itemTest;
            }
            //removing duplicates
            var seen = {};
            var out = [];
            var j = 0;
            for(var i = 0; i < listItems.length; i++) {
                var item = listItems[i];
                if(seen[item] !== 1) {
                      seen[item] = 1;
                      out[j++] = item;
                }
           }

           //putting values form de-deuped list into dropdown
           var dropdown = document.getElementById("ddl");
           for (var i = 0; i<out.length; i++){
             var itemTest= out[i];
             dropdown[dropdown.length] = new Option(itemTest, itemTest);
           };

        br
        br


        #mydata
          b Employee types saved in the system:
          table#myTableData1(border='1', cellpadding='2')

          br
          br













  else if user.user_type == 'employee_type'
    doctype html
    html
      head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='theme-color' content='#4DA5F4')
        meta(name='csrf-token', content=_csrf)
        title #{title} - Hackathon Starter
        link(rel='shortcut icon', href='/favicon.png')
        link(rel='stylesheet', href='/css/main.css')
        link(rel='stylesheet', type='text/css', href='css/launch_main.css')
        link(rel='stylesheet', type='text/css', href='css/launch_devices.css')
      body
        include partials/header
        script(src='/js/lib/jquery-2.2.4.min.js')
        script(src='/js/lib/bootstrap.min.js')
        script(src='/js/main.js')
        link(rel='stylesheet', href='/css/main.css')
        .container
          include partials/flash
          block content

        include partials/footer

        script(src='/js/lib/jquery-2.2.4.min.js')
        script(src='/js/lib/bootstrap.min.js')
        script(src='/js/main.js')

        // Google Analytics: change UA-XXXXX-X to be your site's ID
        script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-XXXXX-X', 'auto');
          ga('send', 'pageview');
