extends layout

block content
  .page-header
    h1 people
    head
      script(type='text/javascript').
        function addRow() {
        //variables
          var myName = document.getElementById("name");
          var type = document.getElementById("type");
          var min_hours = document.getElementById("min_hours");
          var max_hours = document.getElementById("max_hours");
          var email = document.getElementById("email");
          var phone_number = document.getElementById("phone_number");
          var table = document.getElementById("myTableData");
          var rowCount = table.rows.length;
          var row = table.insertRow(rowCount);
          row.insertCell(0).innerHTML= myName.value;
          row.insertCell(1).innerHTML= type.value;
          row.insertCell(2).innerHTML= min_hours.value;
          row.insertCell(3).innerHTML= max_hours.value;
          row.insertCell(4).innerHTML= email.value;
          row.insertCell(5).innerHTML= phone_number.value;
          row.insertCell(6).innerHTML= '<input type="button" value = "Update" onClick="Javacsript:deleteRow(this)">';
          row.insertCell(7).innerHTML= '<input type="button" value = "Delete" onClick="Javacsript:deleteRow(this)">';
        }
        
        function deleteRow(obj) {
          var index = obj.parentNode.parentNode.rowIndex;
          var table = document.getElementById("myTableData");
          console.log("Hello World!!!");
          table.deleteRow(index);
        }

    #myform
    form.form-horizontal(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      b Simple form with name and age ...
      br
      br
      |         Name:
      input#name(type='text', name='name', placeholder='Name', autofocus='autofocus', required='required')
      br
      br
      |         Type:
      input#type(type='text', name='type', placeholder='Employee Type', autofocus='autofocus', required='required')
      br
      br
      |         Min Hours:
      input#min_hours(type='number', name='min_hours', placeholder='Min hours required', autofocus='autofocus', required='required')
      br
      br
      |         Max Hours:
      input#max_hours(type='number', name='max_hours', placeholder='Max hours required', autofocus='autofocus', required='required')
      br
      br
      |         Email:
      input#email(type='email', name='email', placeholder='Email', autofocus='autofocus', required='required')
      br
      br
      |         Phone Number:
      input#phone_number(type='text', name='phone_number', placeholder='Phone Number', autofocus='autofocus', required='required')
      br
      .form-group
        .col-sm-offset-3.col-sm-7
          button.col-sm-3.btn.btn-primary(type='submit', value='Add', onclick='addRow()') Add
    br
    br
    #mydata
      b Current data in the system ...
      table#myTableData(border='1', cellpadding='2')
        tr
          th
            b Name
          th
            b Type
          th
            b Min Hours
          th
            b Max Hours
          th
            b Email
          th
            b Phone Number
          th
            b Update
          th
            b Delete

        each person in people

          // build a new table row
          tr

            // insert table data
            td #{person.name}
            td #{person.type}
            td #{person.min_hours}
            td #{person.max_hours}
            td #{person.email}
            td #{person.phone_number}

            // add the update and delete buttons
            td
              input(type="button" value = "Update" onClick="Javacsript:deleteRow(this)")
            td
              input(type="button" value = "Delete" onClick="Javacsript:deleteRow(this)")

            // move to next person in the people array ...


      br
      br
