extends layout

block content
  .page-header

    h3 All Books
    head
      script(type='text/javascript').
        function test(value) {

          };


        function configureDropDownLists(ddl1,ddl2) {
          var colours = ['Black', 'White', 'Blue'];
          var shapes = ['Square', 'Circle', 'Triangle'];
          var names = ['John', 'David', 'Sarah'];
          switch (ddl1.value) {
            case 'Colours':
              ddl2.options.length = 0;
              for (i = 0; i < colours.length; i++) {
                createOption(ddl2, colours[i], colours[i]);
              }
            break;
          case 'Shapes':
            ddl2.options.length = 0;
            for (i = 0; i < shapes.length; i++) {
              createOption(ddl2, shapes[i], shapes[i]);
            }
            break;
          case 'Names':
            ddl2.options.length = 0;
            for (i = 0; i < names.length; i++) {
              createOption(ddl2, names[i], names[i]);
            }
            break;
          default:
            ddl2.options.length = 0;
          break;
        }
        }

        function createOption(ddl, text, value) {
          var opt = document.createElement('option');
          opt.value = value;
          opt.text = text;
          ddl.options.add(opt);
        }






    #mydata
      b Current data in the system ...
      br
      br

      input(type='hidden', id="spref_json", value= JSON.stringify(spref))

      select#ddl(onchange="test()")
        option(value='')
        script.
         var spref_json = document.getElementById("spref_json").value;
         var spref_json_value = JSON.parse( spref_json );
         var listItems = [];

         //putting items into initial ist
         for (var i = 0; i < spref_json_value.length; i++){
           itemTest= spref_json_value[i].date_range_start + " to " + spref_json_value[i].date_range_end ;
           listItems[i]=itemTest
          }

          //removing duplicates
          var seen = {};
          var out = [];
          var j = 0;
          for(var i = 0; i < listItems.length; i++) {
              var item = listItems[i];
              if(seen[item] !== 1) {
                    seen[item] = 1;
                    out[j++] = item;
              }
         }

         //putting values form de-deuped list into dropdown
         var dropdown = document.getElementById("ddl");
         for (var i = 0; i<out.length; i++){
           var itemTest= out[i]
           dropdown[dropdown.length] = new Option(itemTest, itemTest);
         }

         console.log(out)




      .form-group
        .col-sm-offset-3.col-sm-7
          button.col-sm-3.btn.btn-primary(type='submit', value='Add') Save shifts
      br
      br

      table#myTableData(border='1', cellpadding='2')
        tr
          th
            b Employee type
          th
            b Days worked
          th
            b Number of employees
          th
            b Shift start
          th
            b Shift end
          th
            b Available


        each shf in spref

          // build a new table row
          tr

            // insert table data
            td #{shf.employee_type}
            td #{shf.days_worked}
            td #{shf.num_employees}
            td #{shf.shift_start_time}
            td #{shf.shift_end_time}



            // add the update and delete buttons
            td
              input#type(type='checkbox', name='Available', value = 'yes', autofocus='autofocus')



            // move to next person in the people array ...
